* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  background: #d5ecf8;
}

.launching {
  /* height: 100vh; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.launching h1 {
  font-size: 3rem;
  padding: 20px 0;
}

.santa {
  width: 35%;
}

.countdown {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 840px) {
  .launching h1 {
    font-size: 2rem;
  }

  .santa {
    width: 10%;
    /* height: 50vh; */
    object-fit: cover;
  }
}
